.title {
  color: pink;
  text-align: center;
}

.postContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}


.post-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}


.caption-and-likes {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: -10px; /* move it to the left of the image */
}

.caption {
  font-size: 1.2rem;
  margin-right: 10px;
}

.like-button {
  margin-left: 10px;
}