.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: pink 
}
 
.link {
  color: #000; 
  text-decoration: none;
  padding: 5px;
  margin: 0 20px; 
}
 
 .link:hover {
   background-color: rgb(244, 207, 225);
 }
 
 .profile-container {
   position: relative;
 }
 
 .dropdown {
   position: absolute;
   top: 100%;
   right: 0;
   background-color: #333;
   color: #fff;
   display: none;
 }
 
 .profile-container:hover .dropdown {
   display: block;
 }
 
 .dropbtn {
   color: #fff;
   background-color: pink;
   border: none;
   cursor: pointer;
   padding: 5px;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: #fff;
   padding: 5px 10px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {
   background-color: pink;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }

 .caption {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 10px;
  line-height: 18px; 
  word-break: break-word; 
}

.post-container {
  margin-bottom: 20px; 
  padding: 10px; 
}




